html {
  background-image: url("../Images/background.jpg");
  height:100%;
  color: white;
  font-family: "Open Sans";
}

body{
	margin: 0px;
}

.introduction {
	text-align: center;
}

.categorie {
	text-align: center;
}

.categorie li{
	display: inline;
	margin: 50px;
}

header {
    padding: 20px 40px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(14, 14, 14, 0.7);
    z-index: 99;
    border-color: #00cc00;
    border-style: solid;
    border-radius: 16px;
}

a {
	color: cyan;
	text-shadow: 0px 0px 40px cyan;
}

h1, h2, h3 {
    color: #00cc00;
    text-align: center;
    text-shadow: 0px 0px 40px #00cc00;
}

h3 {
	font-size: 40px;
	border-top-style: solid;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 2%;
}

