html {
  background-image: url("../Images/background.jpg");
  height:100%;
  color: white;
  font-family: "Open Sans";
}

p {
	overflow: auto;
}

img {
	float: right;
	margin-right: 1%;
}

body{
	margin: 0px;
}

footer {
	overflow: auto;
    padding: 20px 40px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(14, 14, 14, 0.7);
    z-index: 99;
    border-color: #00cc00;
    border-style: solid;
    border-radius: 16px;
    text-align: center;
}

footer img {
	display: inline;
}

footer h1{
	display: inline;
}

.projectsList li {
	margin-left: 10%;
}

.projectsList a {
	float: right;
	margin-right: 40%;
}

.educationList li {
	margin-left: 10%;
}

.skillsList li {
	margin-right: 10%;
	margin-left: 10%;
}

.introduction {
	text-align: center;
}

.categorie {
	text-align: center;
}

.categorie li{
	display: inline;
	margin: 50px;
	font-family: "Aldrich";
}

.language img {
	width: 5%;
	height: 5%;
}

header {
	overflow: auto;
    padding: 20px 40px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(14, 14, 14, 0.7);
    z-index: 99;
    border-color: #00cc00;
    border-style: solid;
    border-radius: 16px;
}

a:hover {
	color: #00cc00;
	text-shadow: 0px 0px 40px #00cc00;
}

a {
	color: cyan;
	text-shadow: 0px 0px 40px cyan;
}

h1 {
    color: #00cc00;
    text-align: center;
    text-shadow: 0px 0px 40px #00cc00;
    font-family: 'Bungee Shade';
}

h2, h3 {
    color: #00cc00;
    text-align: center;
    text-shadow: 0px 0px 40px #00cc00;
    font-family: "Aldrich";
}

h3 {
	font-size: 40px;
	border-top-style: solid;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 2%;
}

